.form {
  width: 320px;
  height: 350px;
  padding: 20px;
  background: #D8D8D8;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .form .text-input {
    width: 100%;
    height: 44px;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid #c6c6c6;
    color: #666666;
    background-color: #ededed; }
  .form .tools {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #ededed;
    border: 1px solid #c6c6c6; }
  .form .submit-btn {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #ededed;
    border: 1px solid #c6c6c6;
    cursor: pointer;
    display: flex;
    justify-content: center; }
