.fg-select-container .fg-dropdown-container {
  font: 400 14px Lato;
  color: #666666; }

.fg-select-container .fg-dropdown__control {
  height: 44px;
  background-color: #ededed;
  border: 1px solid #c6c6c6;
  border-radius: 5px;
  box-shadow: none;
  cursor: pointer;
  overflow: hidden; }
  .fg-select-container .fg-dropdown__control--is-focused:hover {
    border-color: #c6c6c6; }

.fg-select-container .fg-dropdown__value-container {
  padding-left: 10px; }

.fg-select-container .fg-dropdown__placeholder, .fg-select-container .fg-dropdown__single-value, .fg-select-container .fg-dropdown__input {
  color: #666666; }

.fg-select-container .fg-dropdown__placeholder, .fg-select-container .fg-dropdown__single-value {
  max-width: calc(100% - 30px); }

.fg-select-container .fg-dropdown__input {
  overflow: hidden; }

.fg-select-container .fg-dropdown__indicators {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-left: 1px solid #c6c6c6;
  border-radius: 5px 0 0 5px; }

.fg-select-container .fg-dropdown__indicator-separator {
  display: none; }

.fg-select-container .fg-dropdown__arrow {
  font-size: 22px;
  color: #5d5d5d; }

.fg-select-container .fg-dropdown__menu {
  margin: 0;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #c6c6c6;
  border-radius: 0 0 5px 5px;
  box-shadow: none; }

.fg-select-container .fg-dropdown__menu-list {
  padding: 0; }

.fg-select-container .fg-dropdown__option {
  padding-left: 10px;
  cursor: pointer;
  color: #666;
  background-color: #fff; }
  .fg-select-container .fg-dropdown__option:active {
    background-color: rgba(198, 198, 198, 0.5); }
  .fg-select-container .fg-dropdown__option--is-focused {
    background-color: rgba(198, 198, 198, 0.3); }
  .fg-select-container .fg-dropdown__option--is-selected {
    background-color: rgba(198, 198, 198, 0.7); }
