@import "../../themes/variables.scss";
.app-modal-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0,0,0,0.8);
  user-select: none;
  max-height: 100%;
  .app-modal {
    min-width: 300px;
    max-width: 50%;
    max-height: 50%;
    padding: 15px 25px;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 10px;
    background-color: white;
    .title, .message {
      margin: 0;
      padding: 10px 0;
    }
    .title {
      text-align: center;
      font: 700 25px 'Lato';
    }
    .message {
      text-align: center;
      font: 400 20px Lato;
    }
    .buttons {
      display: flex;
      text-align: center;
      justify-content: center;
      flex-wrap: wrap;
      padding: 10px 0;
      .modal-button {
        min-height: 2em;
        min-width: 10em;
        margin: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        background: $nav-active-bg;
        color: white;
        font: 400 20px 'Myriad Pro';
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
          box-shadow: 2px 2px 2px #888888;
        }
      }
    }
  }
}
