// base for react-select styling
@mixin fg-dropdown {
  .fg-dropdown {
    &-container {
      font: 400 14px Lato;
      color: #666666;
    }
    &__control {
      height: 44px;
      background-color: #ededed;
      border: 1px solid #c6c6c6;
      border-radius: 5px;
      box-shadow: none;
      cursor: pointer;
      overflow: hidden;
      &--is-focused {
        &:hover {
          border-color: #c6c6c6;
        }
      }
    }
    &__value-container {
      padding-left: 10px;
    }
    &__placeholder, &__single-value, &__input {
      color: #666666;
    }
    &__placeholder, &__single-value {
      max-width: calc(100% - 30px);
    }
    &__input {
      overflow: hidden;
    }
    &__indicators {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 44px;
      height: 44px;
      border-left: 1px solid #c6c6c6;
      border-radius: 5px 0 0 5px;
    }
    &__indicator-separator {
      display: none;
    }
    &__arrow {
      font-size: 22px;
      color: #5d5d5d;
    }
    &__menu {
      margin: 0;
      border-width: 0 1px 1px 1px;
      border-style: solid;
      border-color: #c6c6c6;
      border-radius: 0 0 5px 5px;
      box-shadow: none;
    }
    &__menu-list {
      padding: 0;
    }
    &__option {
      padding-left: 10px;
      cursor: pointer;
      color: #666;
      background-color: #fff;
      &:active {
        background-color: rgba(198, 198, 198, 0.5);
      }
      &--is-focused {
        background-color: rgba(198, 198, 198, 0.3);
      }
      &--is-selected {
        background-color: rgba(198, 198, 198, 0.7);
      }
    }
  }
}