* {
  box-sizing: border-box;
  outline: none;
}
ul {
  list-style-type: none;
  padding: 0;
}

@import "Form/Form.scss";
@import "Results/Results.scss";
@import "SelectDropdown/SelectDropdown.scss";
@import "Modal/Modal.scss";