* {
  box-sizing: border-box;
  outline: none; }

ul {
  list-style-type: none;
  padding: 0; }

.form {
  width: 320px;
  height: 350px;
  padding: 20px;
  background: #D8D8D8;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .form .text-input {
    width: 100%;
    height: 44px;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid #c6c6c6;
    color: #666666;
    background-color: #ededed; }
  .form .tools {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #ededed;
    border: 1px solid #c6c6c6; }
  .form .submit-btn {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #ededed;
    border: 1px solid #c6c6c6;
    cursor: pointer;
    display: flex;
    justify-content: center; }

.results {
  width: 320px;
  margin-top: 40px; }
  .results .tile {
    padding: 10px;
    background: #D8D8D8; }

.fg-select-container .fg-dropdown-container {
  font: 400 14px Lato;
  color: #666666; }

.fg-select-container .fg-dropdown__control {
  height: 44px;
  background-color: #ededed;
  border: 1px solid #c6c6c6;
  border-radius: 5px;
  box-shadow: none;
  cursor: pointer;
  overflow: hidden; }
  .fg-select-container .fg-dropdown__control--is-focused:hover {
    border-color: #c6c6c6; }

.fg-select-container .fg-dropdown__value-container {
  padding-left: 10px; }

.fg-select-container .fg-dropdown__placeholder, .fg-select-container .fg-dropdown__single-value, .fg-select-container .fg-dropdown__input {
  color: #666666; }

.fg-select-container .fg-dropdown__placeholder, .fg-select-container .fg-dropdown__single-value {
  max-width: calc(100% - 30px); }

.fg-select-container .fg-dropdown__input {
  overflow: hidden; }

.fg-select-container .fg-dropdown__indicators {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-left: 1px solid #c6c6c6;
  border-radius: 5px 0 0 5px; }

.fg-select-container .fg-dropdown__indicator-separator {
  display: none; }

.fg-select-container .fg-dropdown__arrow {
  font-size: 22px;
  color: #5d5d5d; }

.fg-select-container .fg-dropdown__menu {
  margin: 0;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #c6c6c6;
  border-radius: 0 0 5px 5px;
  box-shadow: none; }

.fg-select-container .fg-dropdown__menu-list {
  padding: 0; }

.fg-select-container .fg-dropdown__option {
  padding-left: 10px;
  cursor: pointer;
  color: #666;
  background-color: #fff; }
  .fg-select-container .fg-dropdown__option:active {
    background-color: rgba(198, 198, 198, 0.5); }
  .fg-select-container .fg-dropdown__option--is-focused {
    background-color: rgba(198, 198, 198, 0.3); }
  .fg-select-container .fg-dropdown__option--is-selected {
    background-color: rgba(198, 198, 198, 0.7); }

.app-modal-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.8);
  user-select: none;
  max-height: 100%; }
  .app-modal-overlay .app-modal {
    min-width: 300px;
    max-width: 50%;
    max-height: 50%;
    padding: 15px 25px;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 10px;
    background-color: white; }
    .app-modal-overlay .app-modal .title, .app-modal-overlay .app-modal .message {
      margin: 0;
      padding: 10px 0; }
    .app-modal-overlay .app-modal .title {
      text-align: center;
      font: 700 25px 'Lato'; }
    .app-modal-overlay .app-modal .message {
      text-align: center;
      font: 400 20px Lato; }
    .app-modal-overlay .app-modal .buttons {
      display: flex;
      text-align: center;
      justify-content: center;
      flex-wrap: wrap;
      padding: 10px 0; }
      .app-modal-overlay .app-modal .buttons .modal-button {
        min-height: 2em;
        min-width: 10em;
        margin: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        background: #5d5d5d;
        color: white;
        font: 400 20px 'Myriad Pro';
        cursor: pointer;
        transition: all 0.3s; }
        .app-modal-overlay .app-modal .buttons .modal-button:hover {
          box-shadow: 2px 2px 2px #888888; }
